body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f3f0e0;
  color: #333232;
}

header {
  background: #345825;
  color: #e4e9e3;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  font-size: 1rem;
  color: #e4e9e3;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

nav a {
  color: #e4e9e3;
  margin-left: 1em;
  text-decoration: none;
}

section {
  padding: 2em;
  background: #93c080;
  margin: 1em 0;
}

.project {
  background: #93c080;
  padding: 1em;
  margin-bottom: 1em;
}

footer {
  background: #345825;
  color: #faf9fa;
  text-align: center;
  padding: 1em;
}